# Android / Kotlin
*.iml
.gradle/
local.properties
/.idea/
/build/
/captures
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Log files
*.log

# Android Studio
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore signing keys
*.jks
*.keystore
